.wrapper
  .containerCategory
    %h2.containerCategory__title
      商品一覧
    .containerCategory__product
      .containerCategory__product--head
        = link_to "#", class: "products--head" do
          %h3.head
      .containerCategory__product--lists
        - @newProducts.each do |product|
          = link_to product_path(product), class: "listBtn" do
            %figure.product__images
              = image_tag product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
            .containerCategory__product--lists__list--body
              %h3.product--name
                = product.name
              .containerCategory__product--lists__list--body__details
                %ul.details__menu
                  %li
                    = product.price
                    円
                  %li ★
              %p.taxIncluded （税込）