= render 'shared/header'
= render 'shared/mainVisual'
= render 'shared/topIntroduction'
= render 'shared/topMiddleDl'
= render 'shared/topKeyFeatures'
= render 'shared/pickupCategory'
= render 'shared/pickupBrand'
= render 'shared/appBanner'
= render 'shared/footer'
= render 'shared/displayBtn'







