= render 'shared/header'
= render 'shared/create-one'
= render 'shared/displayBtn'
= render 'shared/topKeyFeatures'
= render 'shared/pickupCategory'
= render 'shared/pickupBrand'
= render 'shared/appBanner'
= render 'shared/footer'

