.wrapper
  .header
    .header-title
      = link_to(root_path, {class: "signup_link"}) do
        %img{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?35314277",class: "header_link_icon"}
  .container
    %ul.signup-box
      %li.signup-font
        %p.not-account 
          アカウントをお持ちでない方はこちら
      %li.signup-btn
      = link_to("新規会員登録", root_path, {class: "signup_link"})
    %ul.othersite-login
      %li.facebook-btn
        = link_to("Facebookでログイン","https://ja-jp.facebook.com/", class: "facebook-font") 
        = icon('fa','fa-facebook-square',class: 'facebook-icon')
      %li.google-btn
      = link_to("Googleでログイン", "https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com&as=o8MuHM7fASy2HsHJcLhwsA&destination=https%3A%2F%2Fwww.mercari.com&approval_state=!ChRCQ0xvQmlLdVY0azg1UWpkaDNyaBIfODNVd0MtRDV6dGNlNEJxcmlYbTVkb25DQm1ubkF4Yw%E2%88%99AJDr988AAAAAXkaOkvxueuxbJJwrijL7x17eibcT-e8A&oauthgdpr=1&xsrfsig=ChkAeAh8T7myuSTrYE30z4j8zXx7FWpMvKkHEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow", {class: "google-font"})
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %li.input-address
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス"
      %li.input-password
        = f.password_field :password, autocomplete: "current-password", placeholder:"パスワード"
      = f.submit "ログイン", class: "login-btn"
      %li.forgot-link
      = link_to("パスワードをお忘れの方", root_path, {class: "forgot-link-page"})
    .footer
      %ul.footer__bottom
        %li.tail-icon 
          %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?35314277", width: "80",class: "mercari-icon"}

        %li.tail-title © Mercari, Inc.