.purchase-wrapper
  .purchase__header
    .purchase__header__logo

  .purchase__container
    %h1.purchase__container__title
      購入内容の確認
    .purchase__container__product
      = image_tag "logo-white.png", class:"purchase__container__product-infomation_image", size: "100x100"
      %ul.purchase__container__product__infomation
        %li.purchase__container__product-infomation__name
          フォーマルブラウス
        %li.purchase__container__product-infomation__price
          %span.purchase__container__product-infomation__price_right
            ¥1,980 (税込)
          %span.purchase__container__product-infomation__price_left
            送料込み
    .purchase__container__product
      .purchase__container__product__payment
        %span.purchase__container__product__payment__title
          支払い金額
        %span.purchase__container__product__payment__price
          ¥1,980
    .purchase__container__payment
      %ul.purchase__container__payment__box
        %li.purchase__container__payment__box__type
          支払い方法
        %li
          = link_to "登録してください", root_path, class: "purchase__container__payment__box__register"
    .purchase__container__shipping-address
      %ul.purchase__container__shipping-address__box
        %li.purchase__container__shipping-address__box__font
          配送先
        %li.purchase__container__shipping-address__box__kana
          宛名（フリガナ）:
          = current_user.last_name_kana + current_user.first_name_kana
        %li.purchase__container__shipping-address__box__name
        %pre
          宛名（漢字）       :&nbsp;
          = current_user.last_name + current_user.first_name
        %li.purchase__container__shipping-address__box__address-postal-code
          %span 宛先 :
          〒
          = current_user.address.postal_code
          = current_user.address.prefecture.name + current_user.address.municipality + current_user.address.block_number
        %li.purchase__container__shipping-address__box__address
    .purchase__container__submit
      %label.purchase__container__submit__box
        %button.purchase__container__submit__box__btn
          - if @card.present?
            = link_to "確定する", products_path, method: : post, class: "purchase__container__payment__box__register"
          - else
            = link_to "クレジットカードを登録しにいく", cards_path, method: : post, class: "purchase__container__payment__box__register"


