.brand-box
  %ul.brand-box__lists
    %li.brand-box__lists__list1
      = link_to root_path, class: "brand-box__lists__list1--link1" do
        FURIMA
      >
    %li.brand-box__lists__list2
      = @product.category.parent.parent.name

      >
    %li.brand-box__lists__list3
      = @product.category.parent.name

      >
    %li.brand-box__lists__list4
      = @product.category.name

      >
    %li.brand-box__lists__list5
      .brand-box__lists__list5--individual-product
        = @product.name

.backcolor-box
  .details-in-box
    .detail
      .detail--name
        = @product.name
      %ul.detail--main-img
        %li
          -# = image_tag @product.images[0].name.url, class: "detail--main-img--image"
          %ul
            - @product.images.each do |image|
              %li
                = image_tag image.name.url, size: "140x140" , class: "show-img"
      .detail--price
        = @product.price
        円
      .detail--price-description 
        = @product.send_price
      .detail--item-name
        = @product.name
      .detail__table
      
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @product.user.nickname
            %tr
              %th
                カテゴリー
              %td
                = @product.category.parent.parent.name
                %br
                = @product.category.parent.name
                %br
                = @product.category.name
                  
            %tr
              %th
                ブランド
              %td
                = @product.brand
            %tr
              %th
                商品のサイズ
              %td
                ”仮置き表示”
            %tr
              %th
                商品の状態
              %td
                = @product.condition_i18n
            %tr
              %th
                配送料の負担
              %td
                = @product.send_price_i18n
            %tr
              %th
                発送元の地域
              %td
                -# = @product.prefecture.name
            %tr
              %th
                発送日の目安
              %td
                = @product.ship_day_i18n
  .links
    .links__around
      = link_to "#", class: "links__around--ahead" do
        < 前の商品
      = link_to "#", class: "links__around--behind" do
        後ろの商品 >
    .links__category
      = link_to "#", class: "links__category--related" do
        レディースをもっと見る
    - if current_user.id == @product.user_id
      = link_to "商品を編集する", edit_product_path(@product), class: "edit-btn"
      = link_to "商品を削除する", product_path(params[:id]), method: :delete, class: "delete-btn"
    - else
      = link_to new_product_contract_path(@product), class: "buy-btn" do
        確定画面


